QWidget {
    border-color: %3;
    border-style: solid;
    padding: 0px;
    color: %1;
}

.QWidget {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

QWidget:disabled {
    border-color: %3;
    color: %1;
}

QWidget:hover {
    border-style: solid;
}

QWidget:item {
    border-color: %3;
}

QWidget::item:selected {
    background-color: %9;
}

/* QMainWindow ------------------------------------------------------------

This adjusts the splitter in the dock widget, not qsplitter
https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qmainwindow

--------------------------------------------------------------------------- */
QMainWindow::separator {
    border-color: %2;
    border-width: 0px;
    border-style: solid;
    spacing: 0px;
    padding: 2px;
}

QMainWindow::separator:hover {
    background-color: %6;
    border-width: 0px;
    border-style: solid;
}

QMainWindow::separator:horizontal {
    width: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

QMainWindow::separator:vertical {
    height: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

/* QToolTip ---------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtooltip

--------------------------------------------------------------------------- */
QToolTip {
    background-color: %4;
    border-color: %3;
    border-width: 1px;
    border-style: solid;
    color: %1;
    padding: 0px;
}

QToolTip:disabled {
    background-color: %5;
}

/* QStatusBar -------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qstatusbar

--------------------------------------------------------------------------- */
QStatusBar {
    border-width: 1px;
    border-style: solid;
}

QStatusBar::item {
    border: none;
}

QStatusBar QToolTip {
    border-width: 1px;
    border-style: solid;
    color: %1;
    padding: 0px;
    opacity: 230;
}

QStatusBar QLabel {
    background-color: transparent;
    background: transparent;
}

/* QCheckBox --------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qcheckbox

--------------------------------------------------------------------------- */
QCheckBox {
    background-color: transparent;
    background: transparent;
    spacing: 4px;
    outline: none;
}

QCheckBox:focus {
    border: none;
}

QCheckBox::indicator {
    height: 16px;
    width: 16px;
}

/* QGroupBox --------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qgroupbox

--------------------------------------------------------------------------- */
QGroupBox {
    background-color: transparent;
    background: transparent;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-top: 16px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    left: 3px;
    padding-left: 3px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 16px;
}

QGroupBox::indicator {
    margin-left: 2px;
    height: 16px;
    width: 16px;
}

/* QRadioButton -----------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qradiobutton

--------------------------------------------------------------------------- */
QRadioButton {
    background-color: transparent;
    background: transparent;
    spacing: 4px;
    padding: 0px;
    outline: none;
    border: none;
}

QRadioButton:focus {
    border: none;
}

QRadioButton:disabled {
    border: none;
    outline: none;
}

QRadioButton QWidget {
    spacing: 0px;
    padding: 0px;
    outline: none;
    border: none;
}

QRadioButton::indicator {
    border: none;
    outline: none;
    height: 16px;
    width: 16px;
}

/* QMenuBar ---------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qmenubar

--------------------------------------------------------------------------- */
QMenuBar {
    border-width: 1px;
    border-style: solid;
}

QMenuBar:focus {
    border-width: 1px;
    border-style: solid;
}

QMenuBar::item {
    background-color: transparent;
    background: transparent;
    padding: 4px;
}

QMenuBar::item:selected {
    background-color: transparent;
    background: transparent;
    padding: 4px;
    border-width: 0px;
    border-style: solid;
}

QMenuBar::item:pressed {
    padding: 4px;
    border-width: 0px;
    border-style: solid;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* QMenu ------------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qmenu

--------------------------------------------------------------------------- */
QMenu {
    border-width: 0px;
    border-style: solid;
    margin: 0px;
}

QMenu::separator {
    background-color: %6;
    height: 1px;
}

QMenu::icon {
    margin: 0px;
    padding-left: 8px;
}

QMenu::item {
    background-color: %4;
    border-width: 1px;
    border-style: solid;
    color: %1;
    height: 20px;
    padding: 4px 24px 4px 4px;
}

QMenu::item > QWidget {
    background-color: %4;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    height: 20px;
    padding: 4px 24px 4px 4px;
}

QMenu::item:selected {
    border-color: %2;
    border-width: 1px;
    border-style: solid;
}

QMenu::item:disabled {
    background-color: %5;
}

QMenu::indicator {
    width: 12px;
    height: 12px;
    padding-left: 6px;
}

QMenu::right-arrow {
    margin: 5px;
    height: 12px;
    width: 12px;
}

/* QAbstractItemView ------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qcombobox

--------------------------------------------------------------------------- */
QAbstractItemView {
    background-color: %4;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

QAbstractItemView:disabled {
    background-color: %5;
}

QAbstractItemView::item:selected {
    border-color: %2;
}

QAbstractItemView::item:!selected:hover {
    color: %1;
}

/* QAbstractScrollArea ----------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qabstractscrollarea

--------------------------------------------------------------------------- */
QAbstractScrollArea {
    background-color: %4;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    padding: 2px;
}

QAbstractScrollArea:disabled {
    background-color: %5;
}

/* QScrollArea ------------------------------------------------------------

--------------------------------------------------------------------------- */
QScrollArea, QScrollArea > QWidget > QWidget {
    background-color: transparent;
    background: transparent;
    border-width: 0px;
    border-style: solid;
}

/* QScrollBar -------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qscrollbar

--------------------------------------------------------------------------- */
QScrollBar {
    background-color: %4;
}

QScrollBar:hover {
    border-color: %2;
}

QScrollBar:disabled {
    background-color: %5;
}

QScrollBar:horizontal {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    height: 16px;
    margin: 2px 16px 2px 16px;
}

QScrollBar:vertical {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    width: 16px;
    margin: 16px 2px 16px 2px;
}

QScrollBar::handle {
    background-color: %6;
    border-color: transparent;
}

QScrollBar::handle:hover {
    border-color: transparent;
}

QScrollBar::handle:horizontal,
QScrollBar::handle:vertical,
QScrollBar::handle:horizontal:hover,
QScrollBar::handle:vertical:hover {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

QScrollBar::handle:horizontal:hover,
QScrollBar::handle:vertical:hover {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

QScrollBar::handle:horizontal:focus,
QScrollBar::handle:vertical:focus {
    border-width: 1px;
    border-style: solid;
}

QScrollBar::add-line:horizontal {
    margin: 0px 3px 0px 3px;
    subcontrol-position: right;
    height: 12px;
    width: 12px;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
    margin: 3px 0px 3px 0px;
    subcontrol-position: bottom;
    height: 12px;
    width: 12px;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    margin: 0px 3px 0px 3px;
    subcontrol-position: left;
    height: 12px;
    width: 12px;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    margin: 3px 0px 3px 0px;
    subcontrol-position: top;
    height: 12px;
    width: 12px;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover, QScrollBar::add-line:horizontal:on {
    subcontrol-position: right;
    height: 12px;
    width: 12px;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on {
    subcontrol-position: bottom;
    height: 12px;
    width: 12px;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal:hover, QScrollBar::sub-line:horizontal:on {
    subcontrol-position: left;
    height: 12px;
    width: 12px;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover, QScrollBar::sub-line:vertical:on {
    subcontrol-position: top;
    height: 12px;
    width: 12px;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal,
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical,
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal,
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

/* QTextEdit --------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-specific-widgets

--------------------------------------------------------------------------- */
QTextEdit {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}

QTextEdit:hover {
    border-color: %2;
    border-width: 1px;
    border-style: solid;
    color: %1;
}

QTextEdit:focus {
    border-width: 1px;
    border-style: solid;
}

QTextEdit:selected {
    color: %1;
}

/* QPlainTextEdit ---------------------------------------------------------

--------------------------------------------------------------------------- */
QPlainTextEdit {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}

QPlainTextEdit:hover {
    border-width: 1px;
    border-style: solid;
    color: %1;
}

QPlainTextEdit:selected {
    color: %1;
}

QPlainTextEdit:focus {
    border-width: 1px;
    border-style: solid;
}

/* QSizeGrip --------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qsizegrip

--------------------------------------------------------------------------- */
QSizeGrip {
    background-color: transparent;
    background: transparent;
    width: 12px;
    height: 12px;
}

/* QStackedWidget ---------------------------------------------------------

--------------------------------------------------------------------------- */
QStackedWidget {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

/* QToolBar ---------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtoolbar

--------------------------------------------------------------------------- */
QToolBar {
    background-color: %4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 2px;
    font-weight: bold;
    spacing: 2px;
}

QToolBar QToolButton {
    border-width: 1px;
    border-style: solid;
}

QToolBar QToolButton:hover {
    border-width: 1px;
    border-style: solid;
}

QToolBar QToolButton:disabled {
    background-color: %5;
}

QToolBar QToolButton:checked {
    background-color: %4;
    border-width: 1px;
    border-style: solid;
}

QToolBar QToolButton:checked:hover {
    border-width: 1px;
    border-style: solid;
}

QToolBar::handle:horizontal, QToolBar::separator:horizontal {
    width: 16px;
}

QToolBar::handle:vertical, QToolBar::separator:vertical {
    height: 16px;
}

/* QAbstractSpinBox -------------------------------------------------------

--------------------------------------------------------------------------- */
QAbstractSpinBox {
    background-color: %4;
    border-width: 1px;
    border-style: solid;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
}

QAbstractSpinBox:hover {
    border-width: 1px;
    border-style: solid;
    color: %1;
}

QAbstractSpinBox:focus {
    border-width: 1px;
    border-style: solid;
}

QAbstractSpinBox:selected {
    color: %1;
}

QAbstractSpinBox:disabled {
    background-color: %5;
}

QAbstractSpinBox:up-button {
    background-color: transparent;
    background: transparent;
    subcontrol-origin: border;
    subcontrol-position: top right;
    border-left-width: 1px;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 1px;
    width: 12px;
    margin-bottom: -1px;
}

QAbstractSpinBox::up-arrow, QAbstractSpinBox::up-arrow:disabled, QAbstractSpinBox::up-arrow:off {
    height: 8px;
    width: 8px;
}

QAbstractSpinBox:down-button {
    background-color: transparent;
    background: transparent;
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 1px;
    width: 12px;
    margin-top: -1px;
}

QAbstractSpinBox::down-arrow, QAbstractSpinBox::down-arrow:disabled, QAbstractSpinBox::down-arrow:off {
    height: 8px;
    width: 8px;
}

/* ------------------------------------------------------------------------ */
/* DISPLAYS --------------------------------------------------------------- */
/* ------------------------------------------------------------------------ */
/* QLabel -----------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qframe

--------------------------------------------------------------------------- */
QLabel {
    background-color: transparent;
    background: transparent;
    border-width: 0px;
    border-style: solid;
    color: %1;
    margin: 0px;
}

QLabel:disabled {
    border-width: 0px;
    border-style: solid;
}

/* QTextBrowser -----------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qabstractscrollarea

--------------------------------------------------------------------------- */
QTextBrowser {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

QTextBrowser:disabled {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

QTextBrowser:hover, QTextBrowser:!hover, QTextBrowser:selected, QTextBrowser:pressed {
    border-width: 1px;
    border-style: solid;
}

/* QGraphicsView ----------------------------------------------------------

--------------------------------------------------------------------------- */
QGraphicsView {
    background-color: %4;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

QGraphicsView:hover {
    border-width: 1px;
    border-style: solid;
    color: %1;
}

QGraphicsView:!hover,
QGraphicsView:selected,
QGraphicsView:pressed {
    border-width: 1px;
    border-style: solid;
}

QGraphicsView:disabled {
    background-color: %5;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

/* QCalendarWidget --------------------------------------------------------

--------------------------------------------------------------------------- */
QCalendarWidget {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

/* QLCDNumber -------------------------------------------------------------

--------------------------------------------------------------------------- */
/* QProgressBar -----------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qprogressbar

--------------------------------------------------------------------------- */
QProgressBar {
    background-color: %10;
    min-height: 22px;
    border-radius: 4px;
    text-align: center;
}

QProgressBar:disabled {
    background-color: %5;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    text-align: center;
}

QProgressBar::chunk {
    background-color: %11;
    border-radius: 4px;
    color: %1;
    margin: 5px;
}

QProgressBar::chunk:disabled {
    background-color: %7;
    border-radius: 4px;
}

/* ------------------------------------------------------------------------ */
/* BUTTONS ---------------------------------------------------------------- */
/* ------------------------------------------------------------------------ */
/* QPushButton ------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qpushbutton

--------------------------------------------------------------------------- */
QPushButton {
    background-color: %6;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    outline: none;
}

QPushButton:hover {
    border-color: %2;
    border-width: 1px;
    border-style: solid;
    color: %1;
}

QPushButton:focus {
    border-width: 1px;
    border-style: solid;
}

QPushButton:pressed {
    background-color: %4;
    border-color: %3;
    border-width: 1px;
    border-style: solid;
    margin: 1px;
}

QPushButton:pressed:hover {
    border-width: 1px;
    border-style: solid;
}

QPushButton:pressed:disabled {
    background-color: %5;
}

QPushButton:disabled {
    background-color: %7;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
}

QPushButton:checked {
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    outline: none;
}

QPushButton:checked:disabled {
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    outline: none;
}

QPushButton::menu-indicator {
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
    bottom: 4px;
}

/* QToolButton ------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtoolbutton

--------------------------------------------------------------------------- */
QToolButton {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin: 0px;
    padding: 2px;
}

QToolButton:hover {
    border-width: 1px;
    border-style: solid;
}

QToolButton:pressed {
    margin: 1px;
    border-width: 1px;
    border-style: solid;
}

QToolButton:disabled {
    border: none;
}

QToolButton:checked {
    background-color: %4;
    border-width: 1px;
    border-style: solid;
}

QToolButton:checked:disabled {
    background-color: %5;
    border-width: 1px;
    border-style: solid;
}

QToolButton::menu-button {
    padding: 2px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    width: 12px;
    outline: none;
}

QToolButton::menu-button:hover {
    border-width: 1px;
    border-style: solid;
}

QToolButton::menu-button:checked:hover {
    border-width: 1px;
    border-style: solid;
}

QToolButton::menu-indicator {
    height: 8px;
    width: 8px;
    top: 0;
    left: -2px;
}

QToolButton::menu-arrow {
    height: 8px;
    width: 8px;
}

/* QCommandLinkButton -----------------------------------------------------

--------------------------------------------------------------------------- */
QCommandLinkButton {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    padding: 0px;
    margin: 0px;
}

/* ------------------------------------------------------------------------ */
/* INPUTS - NO FIELDS ----------------------------------------------------- */
/* ------------------------------------------------------------------------ */
/* QComboBox --------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qcombobox

--------------------------------------------------------------------------- */
QComboBox {
    background-color: %6;
    border-width: 1px;
    border-style: solid;
    border-radius: 1px;
    padding: 0px 18px 0px 3px;
}

QComboBox:hover {
    border-color: %2;
    border-width: 1px;
    border-style: solid;
    color: %1;
}

QComboBox:focus {
    border-width: 1px;
    border-style: solid;
    color: %1;
}

QComboBox:disabled {
    background-color: %5;
}

QComboBox:on {
    padding-top: 3px;
    padding-left: 4px;
}

QComboBox::indicator {
    background-color: transparent;
    background: transparent;
    border: none;
    border-radius: 0;
}

QComboBox::item {
    background-color: %4;
    border-width: 1px;
    border-style: solid;
    color: %1;
    height: 20px;
    margin-left: -20px;
}

QComboBox::item:checked {
    color: %2;
    font: bold;
}

QComboBox::item:selected {
    border-color: %2;
    border-width: 1px;
    border-style: solid;
}

QComboBox::item:disabled {
    background-color: %5;
}

QComboBox QAbstractItemView:alternate, QComboBox::indicator:alternate, QComboBox::item:alternate {
    background-color: %8;
}

QComboBox::drop-down {
    border-color: transparent;
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-right-radius: 1px;
    padding-right: 4px;
    border-bottom-right-radius: 1px;
}

QComboBox::drop-down:hover {
    border-color: transparent;
}

QComboBox::down-arrow {
    width: 20px;
    padding-left: 3px;
}

QComboBox QAbstractItemView {
    background-color: %4;
    border-radius: 0;
}

QComboBox QAbstractItemView:disabled {
    background-color: %5;
}

/* QSlider ----------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qslider

--------------------------------------------------------------------------- */
QSlider:focus {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    border: none;
}

QSlider::groove {
    border-color: %3;
}

QSlider::groove:horizontal {
    border-width: 1px;
    border-style: solid;
    height: 4px;
    margin: 0px;
    border-radius: 4px;
}

QSlider::groove:vertical {
    border-width: 1px;
    border-style: solid;
    width: 4px;
    margin: 0px;
    border-radius: 4px;
}

QSlider::add-page:vertical {
    border-color: %3;
    border-width: 1px;
    border-style: solid;
    width: 4px;
    margin: 0px;
    border-radius: 4px;
}

QSlider::sub-page:horizontal {
    border-color: %3;
    border-width: 1px;
    border-style: solid;
    height: 4px;
    margin: 0px;
    border-radius: 4px;
}

QSlider::add-page:vertical:disabled, QSlider::sub-page:horizontal:disabled {
    background-color: %7;
}

QSlider::handle {
    background-color: %6;
    border-color: %3;
}

QSlider::handle:horizontal {
    border-width: 1px;
    border-style: solid;
    width: 8px;
    height: 8px;
    margin: -8px 0px;
    border-radius: 4px;
}

QSlider::handle:horizontal:hover {
    border-width: 1px;
    border-style: solid;
}

QSlider::handle:horizontal:focus {
    border-width: 1px;
    border-style: solid;
}

QSlider::handle:vertical {
    border-width: 1px;
    border-style: solid;
    width: 8px;
    height: 8px;
    margin: 0 -8px;
    border-radius: 4px;
}

QSlider::handle:vertical:hover {
    border-width: 1px;
    border-style: solid;
}

QSlider::handle:vertical:focus {
    border-width: 1px;
    border-style: solid;
}

/* QLineEdit --------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qlineedit

--------------------------------------------------------------------------- */
QLineEdit {
    border-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
        stop: 0 %3,
        stop: 0.7 %3,
        stop: 0.99 transparent);
    border-right-color: transparent;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
        stop: 0 %4,
        stop: 0.7 %4,
        stop: 0.99 transparent);
    border-width: 1px;
    border-style: solid;
    border-top-left-radius : 4px;
    border-bottom-left-radius : 4px;
    border-right: 0px rgba(0,0,0,0);
}

QLineEdit:hover {
    border-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
        stop: 0 %2,
        stop: 0.7 %2,
        stop: 0.99 transparent);
    border-right-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-right: 0px rgba(0,0,0,0);
    border-top-left-radius : 4px;
    border-bottom-left-radius : 4px;
    color: %1;
}

QLineEdit:focus {
    border-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
        stop: 0 %2,
        stop: 0.7 %2,
        stop: 0.99 transparent);
    border-right-color: transparent;
    border-width: 1px;
    border-style: solid;
}

QLineEdit:disabled {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
        stop: 0 %5,
        stop: 0.7 %5,
        stop: 0.99 transparent);
}

/* QTabWiget --------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtabwidget-and-qtabbar

--------------------------------------------------------------------------- */
QTabWidget {
    padding: 2px;
}

QTabWidget QWidget {
    border-radius: 4px;
}

QTabWidget::pane {
    border-color: %3;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin: 0px;
    padding: 0px;
}

QTabWidget::pane:selected {
    border-color: %3;
    border-width: 1px;
    border-style: solid;
}

/* QTabBar ----------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtabwidget-and-qtabbar

--------------------------------------------------------------------------- */
QTabBar {
    qproperty-drawBase: 0;
    border-radius: 4px;
    margin: 0px;
    padding: 2px;
    border: 0;
}

QTabBar::close-button {
    border: 0;
    margin: 2px;
    padding: 2px;
    subcontrol-position: right;
}

QTabBar QToolButton {
    height: 12px;
    width: 12px;
}

QTabBar QToolButton:pressed:hover {
    border-width: 1px;
    border-style: solid;
}

/* QTabBar::tab - selected ------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtabwidget-and-qtabbar

--------------------------------------------------------------------------- */
QTabBar::tab {
    background-color: %4;
    border-color: %3;
    border-width: 1px;
    border-style: solid;
}

QTabBar::tab:selected {
    background-color: %6;
}

QTabBar::tab:!selected:hover {
    border-color: %2;
}

QTabBar::tab:selected:disabled {
    background-color: %7;
}

QTabBar::tab:disabled {
    background-color: %5;
}

QTabBar::tab:top:selected:disabled,
QTabBar::tab:bottom:selected:disabled,
QTabBar::tab:left:selected:disabled,
QTabBar::tab:right:selected:disabled {
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

QTabBar::tab:top:!selected:disabled,
QTabBar::tab:bottom:!selected:disabled,
QTabBar::tab:left:!selected:disabled,
QTabBar::tab:right:!selected:disabled {
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

QTabBar::tab:top:!selected {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-top: 2px;
}

QTabBar::tab:bottom:!selected {
    border-top-width: 2px;
    border-top-style: solid;
    margin-bottom: 3px;
}

QTabBar::tab:left:!selected {
    border-left-width: 2px;
    border-left-style: solid;
    margin-right: 2px;
}

QTabBar::tab:right:!selected {
    border-right-width: 2px;
    border-right-style: solid;
    margin-left: 2px;
}

QTabBar::tab:top {
    margin-left: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

QTabBar::tab:top:selected {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

QTabBar::tab:top:!selected:hover {
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 3px;
    padding-left: 4px;
    padding-right: 4px;
}

QTabBar::tab:bottom {
    border-top-width: 3px;
    border-top-style: solid;
    margin-left: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

QTabBar::tab:bottom:selected {
    border-top-width: 3px;
    border-top-style: solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

QTabBar::tab:bottom:!selected:hover {
    border-width: 1px;
    border-style: solid;
    border-top-width: 3px;
    padding-left: 4px;
    padding-right: 4px;
}

QTabBar::tab:left {
    margin-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

QTabBar::tab:left:selected {
    border-right-width: 3px;
    border-right-style: solid;
}

QTabBar::tab:left:!selected:hover {
    border-width: 1px;
    border-style: solid;
    border-right-width: 3px;
    padding: 0px;
}

QTabBar::tab:right {
    margin-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

QTabBar::tab:right:selected {
    border-width: 1px;
    border-style: solid;
    border-left-width: 3px;
    padding: 0px;
}

QTabBar::tab:right:!selected:hover {
    border-width: 1px;
    border-style: solid;
    border-left-width: 3px;
    padding: 0px;
}

/* QDockWiget -------------------------------------------------------------

--------------------------------------------------------------------------- */
QDockWidget {
    background-color: %20;
    border-color: %2;
    outline-width: 1px;
    outline-style: solid;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

QDockWidget::title {
    padding: 6px;
    spacing: 4px;
    border: none;
}

QDockWidget::close-button {
    border-radius: 4px;
    border: none;
}

QDockWidget::float-button {
    border-radius: 4px;
    border: none;
}

/* QTreeView QListView QTableView -----------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtreeview
https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qlistview
https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtableview

--------------------------------------------------------------------------- */
QTreeView:branch:has-children:!has-siblings:closed,
QTreeView:branch:closed:has-children:has-siblings {
    border-image: none;
}

QTreeView:branch:open:has-children:!has-siblings,
QTreeView:branch:open:has-children:has-siblings {
    border-image: none;
}

QTreeView,
QListView,
QTableView,
QColumnView {
    selection-background-color: transparent;
    gridline-color: %3;
    background-color: %12;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    outline: none; /*Убирает выделение при фокусе*/
}

QTreeView:hover,
QListView:hover,
QTableView:hover,
QColumnView:hover {
    border-width: 1px;
    border-style: solid;
}

QTableView::item {
    background-color: %14;
    margin-top: 10px;
    padding: 4px;
}

QListView::item {
    background-color: %14;
    margin-top: 5px;
    padding: 4px;
}

QTableView::item:alternate {
    background-color: %14;
}

QListWidgetAchievements::item {
    margin-top: 10px;
}

QTreeView::item:selected:active,
QListView::item:selected:active,
QTableView::item:selected:active,
QColumnView::item:selected:active {
    border-width: 1px;
    border-style: solid;
    border-right-width: 0px;
    border-left-width: 0px;
}

QTreeView::item:selected:!active,
QListView::item:selected:!active,
QTableView::item:selected:!active,
QColumnView::item:selected:!active {
    border-width: 1px;
    border-style: solid;
    border-right-width: 0px;
    border-left-width: 0px;
}

QTreeView::item:!selected:hover,
QListView::item:!selected:hover,
QTableView::item:!selected:hover,
QColumnView::item:!selected:hover {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
        stop: 0   %14,
        stop: 0.5 %15,
        stop: 1.0 %14);
    outline: 0;
}

/* QHeaderView ------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qheaderview

--------------------------------------------------------------------------- */
QHeaderView {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    border-width: 0px;
    border-style: transparent;
    border-radius: 0px;
}

QTableCornerButton::section {
    background-color: %4;
    border-color: %3;
    border-width: 0px;
    border-style: transparent;
    border-radius: 0px;
    color: %1;
}

QTableCornerButton::section:disabled {
    background-color: %5;
}

QHeaderView:disabled {
    background-color: %7;
    border-width: 1px;
    border-style: transparent;
    padding: 2px;
}

QHeaderView::section {
    background-color: %4;
    border-color: %3;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-radius: 0px;
    padding: 2px;
    text-align: left;
    color: %1;
}

QHeaderView::section:disabled {
    background-color: %5;
    color: %1;
}

QHeaderView::section:checked:disabled {
    background-color: %7;
}

QHeaderView::section::horizontal {
    padding-left: 4px;
    padding-right: 4px;
    border-left-width: 1px;
    border-left-style: solid;
}

QHeaderView::section::horizontal::first,
QHeaderView::section::horizontal::only-one {
    border-left-width: 1px;
    border-left-style: solid;
}

QHeaderView::section::vertical {
    padding-left: 4px;
    padding-right: 4px;
    border-top-width: 1px;
    border-top-style: solid;
}

QHeaderView::section::vertical::first,
QHeaderView::section::vertical::only-one {
    border-top-width: 1px;
    border-top-style: solid;
}

QHeaderView::down-arrow,
QHeaderView::up-arrow {
    border: none;
    height: 12px;
    width: 12px;
    padding-left: 2px;
    padding-right: 2px;
}

/* QToolBox --------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtoolbox

--------------------------------------------------------------------------- */
QToolBox {
    padding: 0px;
    border: 0px;
    border-width: 1px;
    border-style: solid;
}

QToolBox:selected {
    border-color: %2;
    border-width: 2px;
    border-style: solid;
    padding: 0px;
}

QToolBox::tab {
    background-color: %4;
    border-color: %3;
    border-width: 1px;
    border-style: solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

QToolBox::tab:hover {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

QToolBox::tab:selected {
    background-color: %6;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

QToolBox::tab:selected:disabled {
    background-color: %7;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

QToolBox::tab:!selected {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

QToolBox::tab:!selected:hover {
    border-color: %2;
}

QToolBox::tab:disabled {
    background-color: %5;
}

QToolBox QScrollArea QWidget QWidget {
    padding: 0px;
    border: 0px;
}

/* QFrame -----------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qframe
https://doc.qt.io/qt-5/qframe.html#-prop
https://doc.qt.io/qt-5/qframe.html#details
https://stackoverflow.com/questions/14581498/qt-stylesheet-for-hline-vline-color

--------------------------------------------------------------------------- */
QFrame {
    background-color: transparent;
    background: transparent;
}

.QFrame {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    border-width: 0px;
    border-style: solid;
}

/* QSplitter --------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qsplitter

--------------------------------------------------------------------------- */
QSplitter {
    background-color: transparent;
    background: transparent;
    spacing: 0px;
    padding: 0px;
    margin: 0px;
}

QSplitter::handle {
    background-color: %4;
    border-color: %3;
    border-width: 1px;
    border-style: solid;
    spacing: 0px;
    padding: 1px;
    margin: 0px;
}

QSplitter::handle:hover {
    background-color: %6;
}

QSplitter::handle:disabled {
    background-color: %5;
}

QSplitter::handle:horizontal {
    width: 5px;
}

QSplitter::handle:vertical {
    height: 5px;
}

/* QDateEdit, QDateTimeEdit -----------------------------------------------

--------------------------------------------------------------------------- */
QDateEdit, QDateTimeEdit {
    border-color: %3;
    border-width: 1;
    border-style: solid;
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

QDateEdit::drop-down,
QDateTimeEdit::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 12px;
    border-left-width: 1px;
    border-left-style: solid;
}

QDateEdit::down-arrow,
QDateTimeEdit::down-arrow {
    height: 8px;
    width: 8px;
}

QDateEdit QAbstractItemView,
QDateTimeEdit QAbstractItemView {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}

/* QAbstractView ----------------------------------------------------------

--------------------------------------------------------------------------- */
QAbstractView:hover {
    border-width: 1px;
    border-style: solid;
    color: %1;
}

/* PlotWidget -------------------------------------------------------------

--------------------------------------------------------------------------- */
PlotWidget {
    padding: 0px;
}

Line {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

QDialog {
    background-color: %20;
    border-color: %2;
}

LabelValue, LabelValue:hover {
    color: %2;
}

ProgressBarBad {
    text-align: center;
}

ProgressBarBad::chunk {
    background-color: transparent;
    background: transparent;
}

Form {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

FramelessWindow, QMessageBox {
    background-color: %20;
    border-color: %2;
    border-width: 1px;
    border-style: solid;
}

FramelessWindow:hover, QMessageBox:hover {
    background-color: %20;
    border-color: %2;
}

SubForm > QWidget[accessibleName=TitleWindow] {
    border-width: 1px;
    border-style: solid;
}

.SubForm, SubForm > .QFrame {
    background-color: %20;
    border-color: %2;
}

CollapsableWidget {
    background: rgba(30, 30, 30, 0.5)
}

QLineEdit[text=\"\"]{
    color:gray;
}

QPushButton[text] {
    padding-left: 0.3em;
}

QTableView#FreezeRow {
    background-color: %13;
}

QWidget[accessibleName=TitleWindow] {
    background-color: %19;
    border-color: %2;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 0px;
}

QFrame#FrameProfileBaseInfo {
    background-color: %17;
}

QFrame#FrameProfileMaximumInfo, QFrame#FrameProfileButtons {
    background-color: %12;
}

QFrame#FrameSelected, QFrame#FrameCategories, QFrame#FrameEditCategory {
    background-color: %18;
}
/*%1%2%3%4%5%6%7%8%9%10%11%12%13%14%15%16%17%18%19%20*/
